<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cem44?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">12345678</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping resource="pe/com/ega/sgces/dao/Impresorapuntoventa.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Tarjeta.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Movimiento.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Caraproducto.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Centroemisor.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Tanque.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Usuario.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Surtidor.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Provincia.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Perfilopcion.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Turnopuntoventacaja.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Producto.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Cliente.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Lista.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Turno.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Transaccion.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Subcuenta.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Transacciondetalle.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Perfil.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Usuarioperfil.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Departamento.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Deposito.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Varillajeajuste.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Trabajador.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Impresora.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Centroemisortipocomprobante.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Cara.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Puntoventa.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Caja.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Listavalor.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Distrito.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Varillaje.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Cuenta.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Puntoacumulado.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Despacho.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Estacionservicio.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Tipocambio.hbm.xml"/>
    <mapping resource="pe/com/ega/sgces/dao/Opcion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
